
  {{#if user}}
BIENVENIDO
{{/if}}

<table class="table table-striped">
  <thead>

    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">N. Doc</th>
      <th scope="col">Descripcion</th>
     
      
    </tr>
  </thead>
  {{#each datos}}


  <tbody>
    <tr>
      <th scope="row">{{nombre}}</th>
      <th scope="row">{{codigo}}</th>
      <th scope="row">{{descripcion}}</th>

     </tr>
  

  </tbody>
  {{/each}}
</table>


