

<div class="row">
    {{#each datos}}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h8>{{operacion}}</h8>  {{descripcion}} {{monto}} {{fecha}}
            </div>
        </div>
    </div>
    {{/each}}
</div>