<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center text-black my-4">CONTACTANOS</h2>
    <!--Section description-->
    <p class="text-center text-black w-responsive mx-auto mb-5">¡Tienes preguntas? Por favor no dudes en contactarnos, nuestro equipo se pondra en contacto con tigo
        para ayudarte</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="ecotransv" name="contacto_ecotransv" action="http://forms.melodysoft.com" method="POST">
            <input type="hidden" name="id" value="ecotransv">
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="text-black">Tu Nombre</label>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="md-form mb-0">
                             <label for="phone" class="text-black">Tu Telefono</label>
                            <input type="text" id="phone" name="phone" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="text-black">Tu Email</label>
                            <input type="email" id="email" name="email" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="text-black">Asunto</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message" class="text-black">Tu mensaje</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick=document.getElementById('ecotransv').submit();>Enviar</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fa fa-map-marker fa-2x"></i>
                    <p class="text-black">Carretera a quezaltepeque, San Juan Opico, La Libertad</p>
                </li>

                <li><i class="fa fa-phone mt-4 fa-2x"></i>
                    <p class="text-black">21300021</p>
                    

                </li>

                <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                    <p class="text-black">ecotransv@yahoo.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->