<table class="table table-borderless table-dark">
  <tbody>
    <tr>
      <td>1.  Desechos clinicos resultantes de la atencion medica prestada en hospitales, centros medicos y clinicas</td>
      <td>2.  Desechos resultantes de la producccion y preparacion de productos farmaceuticos</td>
      <td>3.  Desechos de medicamento sy productos farmaceuticos</td>
      <td>4.  Baterias, llantas de vehiculo, elementos punzo cortantez, desechos de hidrocarburos</td>
    </tr>
    <tr>
      <td>5.  Desechos resultantes de la fabricacion, preparacion y utilizacion de productos quimicos.</td>
      <td>6.  Desechos resultantes de la produccion, preparacion y utilizacion de tintas, colorantes, pigmentos, pinturas, lacas o barnices.</td>
      <td>7.  Desechos resultantes del tratamiento de superficie de metales y plastico.</td>
      <td>8.  Residuos y materiales explosivos, inflamables, toxicos, irritantes, radiactivos, corrosivos, agroquimicos, nocivos, etc.</td>
    </tr>
  </tbody>
</table>
<p class="text-justify" >Desechos generados por el manejo y almacenamiento de sustancias quimicas peligrosas esten o no vencidos, asi como: recipientes descartados y materiales contaminados a causa de recoleccion de derrames, deberan ser dispuestos
    conforme a lo establecido en el Reglamento Especial en Materia de Sustancias, residuos y Desechos Peligrosos del Ministerio de Medio Ambiente y Recursos Naturales
</p>


