<h2>MATERIALES PELIGROSOS:</h2>
<p class="text-justify" >Materiales perjudiciales que durante la fabricacion, manejo, transporte, almacenamiento o uso, pueden generar o desprender
    polvos, humos, gases, liquidos, vapores o fibras de tipo infecciosas, irritante, inflamables, explosivas, corrosivas, asfixiantes, toxicas
    o de otra naturaleza peligrosa, o radiaciones ionizantes en cantidades que puedan afectar la salud de las personas, daños
    materiales o al ambiente.
</p>
<h2>DESECHOS PELIGROSOS:</h2>
<p class="text-justify" >Material que reviste caracteristicas peligrosas, que despues de servir a un proposito especifico
    todavia conserva propiedades fisiscas y quimicas peligrosas, y por lo tanto no puede ser reusado, reciclado, regenerado o aprovechado.
</p>

<h2>PORQUE SON CATALOGADOS COMO PELIGROSOS:</h2>
<p class="text-justify" >Son catalogados como peligrosos porque existen riesgos a la expocicion a los mismos por parte de los usuarios sin las medidas de prevencion y control correspondientes, riesgos que pueden ir desde leves, graves, muy graves o incluso significar la muerte para el humano, riesgo tambien para el medio ambiente y los ecosistemas naturales, riesgos materiales etc. y en esto radica la importancia del correcto manejo de los mismos.
</p>