<p class="text-justify">EN EL MARCO DE SUS PROCESOS DE GESTION AMBIENTAL, LE PROPORCIONAMOS GRATUITAMENTE DE FORMA ACCESIBLE, COMPRENSIBLE, UTIL
    Y CENTRALIZADA LA INFORMACION, DATOS, DETALLES DE SUS DESCARTES, AL RESGUARDAR EN NUESTRAS BASES DE DATOS 
    UN RESPALDO DIGITAL AL QUE NUESTRO CLIENTE PODRA TENER ACCESO SIN COSTO ADICIONAL POR MEDIO DE UN USUARIO Y CONTRASEÑA, LA INFORMACION DOCUMENTADA 
    PERMITE LA COMUNICACION Y COHERENCIA DE LA MISMA CON LOS REGISTROS FISICOS Y UN MENOR TIEMPO DE RESPUESTA CUANDO ESTA SE REQUIERA 
    PRECISAMENTE PARA DAR UN VALOR AGREGADO A SUS PROCESOS ADMINISTRATIVOS DE EVALUACION INTERNA O EXTERNA, CON UN RESPALDO EN LA NUBE
    POR MEDIO UNA EMPRESA QUE CUENTA CON TODOS LOS PERMISOS LEGALES Y AMBIENTALES REQUERIDOS POR <a href="/law">MARCO LEGAL VIGENTE EN EL SALVADOR  </a>
    COMO LO ES ECO TRANSPORTES DE EL SALVADOR S.A DE C.V 
</p>