<!-- SHOWCASE -->
<header class="showcase">
  <h2>Conoce Nuestros Servicios!</h2>
  <p>Somos una empresa nueva en el rubro de transporte, recoleccion y disposicion final de desechos catallogados como
    peligrosos
    Sin embargo contamos con personal capacitado y larga experiencia en dichos procesos.
  </p>
  <a href="#" class="btn">
    SITIO EN CONSTRUCCION <i class="fas fa-chevron-right"></i>
  </a>
</header>
<!-- NEWS CARDS -->
<div class="news-cards">
  <div>
    <img src="https://images.pexels.com/photos/1296265/pexels-photo-1296265.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" />
    <h3>PRODUCTO 1</h3>
    <p>INFORMACION Y DATOS SOBRE NUESTRO PRODUCTO
    </p>
    <a href="#">Leer Mas <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="https://images.pexels.com/photos/3732854/pexels-photo-3732854.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" />
    <h3>PRODUCTO 2</h3>
    <p>INFORMACION Y DATOS SOBRE NUESTRO PRODUCTO
    </p>
    <a href="#">Leer Mas <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="https://images.pexels.com/photos/3964498/pexels-photo-3964498.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" />
    <h3>PRODUCTO 3</h3>
    <p>INFORMACION Y DATOS SOBRE NUESTRO PRODUCTO
    </p>
    <a href="#">Leer Mas <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="https://images.pexels.com/photos/5217776/pexels-photo-5217776.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" />
    <h3>PRODUCTO 4</h3>
    <p>INFORMACION Y DATOS SOBRE NUESTRO PRODUCTO
    </p>
    <a href="#">Leer Mas <i class="fas fa-angle-double-right"></i></a>
  </div>
</div>

<!-- Card Banner 1-->
<section class="cards-banner-one">
  <div class="content">
    <h2>EMPRESA</h2>
    <!-- lorem 20 -->
    <p>

    </p>
    <a href="https://images.pexels.com/photos/5669619/pexels-photo-5669619.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" class="btn">Leer mas<i class="fas fa-chevron-right"></i></a>
  </div>
</section>
<!-- NEWS CARDS -->
<div class="news-cards">
  <div>
    <img src="https://media.istockphoto.com/photos/hand-holding-light-bulb-against-nature-on-green-leaf-with-icons-for-picture-id1022892932" alt="" />
    <h3>¿QUE SON LOS MATERIALES CATALOGADOS COMO PELIGROSOS Y PORQUE SON PELIGROSOS?</h3>
    <p>Es importante conocer como se definen los materiales peligrosos para proceder al manejo responsable de los
      mismos.

      ..
    </p>
    <a href="/definitions">Mas informacion <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="https://images.pexels.com/photos/4107251/pexels-photo-4107251.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" />
    <h3>¿QUE HACER CON MATERIALES PELIGROSOS?</h3>
    <p>Es importante conocer en que consiste este proceso a la hora de disponer responsablemente desechos catalogados
      como peligrosos.
    </p>
    <a href="/mng">Mas Informacion <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="image/logo1.png" alt="" />
    <h3>CLASIFICACION DE DESECHOS PELIGROSOS</h3>
    <p>Exiten diversidad de desechos y los mismos pueden ser categorizados
      para su correcto manejo
      clik en en enlace para mas informacion

      ...</p>
    <a href="/categories">Mas Informacion <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="https://media.istockphoto.com/photos/hands-business-team-work-cupping-young-plant-nurture-environmental-picture-id970974210" alt="" />
    <h3>RESPONSABILIDADES EN EL MANEJO DE DESECHOS</h3>
    <p>Los generadores de materiales catalogados como peligrosos tienen responsabilidades claras y bien definidas
      segun el marco legal vigente.

    </p>
    <a href="/responsabilities">Mas Informacion <i class="fas fa-angle-double-right"></i></a>
  </div>
</div>

<!-- third card -->
<section class="cards-banner-two">
  <div class="content">
    <h2>NORMATIVA Y MARCO LEGAL MEDIOAMBIENTAL</h2>
    <!-- lorem 30 -->
    <p>Dentro de el marco legal diferentes cuerpos de leyes vigentes constituyen la legislacion que abarca un
      manejo responsable y amigable con el medio ambiente.</p>
    <a href="/law" class="btn">Leer mas <i class="fas fa-chevron-right"></i></a>
  </div>
</section>