<!-- SHOWCASE -->
<header class="showcase">
  <p>Bienvenido, somos Ecotransportes de el Salvador S.A de C.V una empresa 
    con una visión innovadora en la atencion de las necesidades de descarte de 
    desechos peligrosos por parte de nuestros clientes, tenemos un compromiso 
    claro para con la protección del medio ambiente, contáctanos para cualquier 
    duda y poder ayudarte en procesos de recolección, transporte y disposición 
    final de desechos o residuos peligrosos contamos con personal capacitado 
    y con larga experiencia, te brindamos asesoría y la documentación de respaldo 
    físico y en la nube de tal manera que tengas acceso seguro, y rápido en el 
    momento que lo necesites.
</p>
  <a href="/about" class="btn">
    SOLICITAR COTIZACION <i class="fas fa-chevron-right"></i>
  </a>
</header>
<!-- NEWS CARDS -->
<div class="news-cards">
  <div>
    <img src="https://images.pexels.com/photos/6591167/pexels-photo-6591167.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" />
    <h3>SERVICIOS</h3>
    <p>RECOLECCION Y TRANSPORTE DESECHOS
    </p>
    <a href="/services">Leer Mas <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="/image/bolsa_rj.jpg" alt="" />
    <h3>PRODUCTOS</h3>
    <p>INSUMOS DESECHOS BIOINFECCIOSOS
    </p>
    <a href="/products">Leer Mas <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="https://images.pexels.com/photos/886521/pexels-photo-886521.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" />
    <h3>APORTAMOS A TU CADENA DE VALOR</h3>
    <p>Y EN TUS PROCESOS DE EVALUACION 
    </p>
    <a href="/cvalor">Leer Mas <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="https://images.pexels.com/photos/1148820/pexels-photo-1148820.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" />
    <h3>GRATIS: DOCUMENTACION DE TUS PROCESOS DE DESCARTE EN LA NUBE</h3>
    <p>INFORMACION SEGURA RAPIDA Y A LA MANO CUANDO LA NECESITES 
    </p>
    <a href="/docinfo">Leer Mas <i class="fas fa-angle-double-right"></i></a>
  </div>
</div>

<!-- Card Banner 1-->
<section class="cards-banner-one">
  <div class="content">
    <!-- lorem 20 -->
    <a  class="btn text-justify">
Nuestro personal y dirección posee amplia experiencia 
en procesos de recolección, transporte, documentación 
física y digital en la nube en relación con procesos
de descarte de desechos peligrosos, le invitamos a 
conocer nuestros productos, servicios, ventajas y 
marco legal regulatorio, solicite información nos 
pondremos en contacto con usted y sera un placer 
atenderle y formar parte de su cadena de valor
<i class="fas fa-chevron-right"></i></a>
</div>
</section>
<!-- NEWS CARDS -->
<div class="news-cards">
  <div>
    <img src="https://media.istockphoto.com/photos/hand-holding-light-bulb-against-nature-on-green-leaf-with-icons-for-picture-id1022892932" alt="" />
    <h3>¿QUE SON LOS MATERIALES CATALOGADOS COMO PELIGROSOS Y PORQUE SON PELIGROSOS?</h3>
    <p>Es importante conocer como se definen los materiales peligrosos para proceder al manejo responsable de los
      mismos.

      ..
    </p>
    <a href="/definitions">Mas informacion <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="https://images.pexels.com/photos/4107251/pexels-photo-4107251.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" />
    <h3>¿QUE HACER CON MATERIALES PELIGROSOS?</h3>
    <p>Es importante conocer en que consiste este proceso a la hora de disponer responsablemente desechos catalogados
      como peligrosos.
    </p>
    <a href="/mng">Mas Informacion <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="image/logo1.png" alt="" />
    <h3>CLASIFICACION DE DESECHOS PELIGROSOS</h3>
    <p>Exiten diversidad de desechos y los mismos pueden ser categorizados
      para su correcto manejo
      clik en en enlace para mas informacion

      ...</p>
    <a href="/categories">Mas Informacion <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="https://media.istockphoto.com/photos/hands-business-team-work-cupping-young-plant-nurture-environmental-picture-id970974210" alt="" />
    <h3>RESPONSABILIDADES EN EL MANEJO DE DESECHOS</h3>
    <p>Los generadores de materiales catalogados como peligrosos tienen responsabilidades claras y bien definidas
      segun el marco legal vigente.

    </p>
    <a href="/responsabilities">Mas Informacion <i class="fas fa-angle-double-right"></i></a>
  </div>
</div>

<!-- third card -->
<section class="cards-banner-two">
  <div class="content">
    <h2>NORMATIVA Y MARCO LEGAL MEDIOAMBIENTAL</h2>
    <!-- lorem 30 -->
    <p>Dentro de el marco legal diferentes cuerpos de leyes vigentes constituyen la legislacion que abarca un
      manejo responsable y amigable con el medio ambiente.</p>
    <a href="/law" class="btn">Leer mas <i class="fas fa-chevron-right"></i></a>
  </div>
</section>

