  <h2>A continuacion se enumeran los diferentes cuerpos de ley vigentes en el salvador relacionados al manejo de materiales catalogados como peligrosos</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="row">1</th>
      <td>LEY DEL CUERPO DE BOMBEROS.</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2</th>
      <td>LEY DE MEDIO AMBIENTE DE EL SALVADOR.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>REGLAMENTO ESPECIAL EN MATERIA DE SUSTANCIAS, RESIDUOS Y DESECHOS PELIGROSOS.</td>

    </tr>
    <tr>
      <th scope="row">4</th>
      <td>LEY GENERAL DE PREVENCION DE RIESGOS EN LOS LUGARES DE TRABAJO.</td>

    </tr>
    <tr>
      <th scope="row">5</th>
      <td>REGLAMENTO GENERAL DE PREVENCION DE RIESGOS EN LOS LUGARES DE TRABAJO.</td>

    </tr>
    <tr>
      <th scope="row">6</th>
      <td>NORMA PARA EL ALMACENAMIENTO DE SUSTANCIAS QUIMICAS PELILGROSAS.</td>

    </tr>
     <tr>
      <th scope="row">7</th>
      <td>NORMA TECNICA PARA EL MANEJO DE LOS DESECHOS BIOINFECCIOSOS.</td>
    </tr>
     <tr>
      <th scope="row">8</th>
      <td>LEY DE COMERCIALIZACION DE SUSTANCIAS Y PRODUCTOS QUE CONTENGAN INHALANTES.</td>
    </tr>
 <tr>
      <th scope="row">9</th>
      <td>LEY REGULADORA DEL DEPOSITO, TRANSPORTE Y DISTRIBUCION DE PRODUCTOS DEL PETROLEO.</td>
    </tr>
  <th scope="row">10</th>
      <td>LEY SOBRE CONTROL DE PESTICIDAS, FERTILIZANTES Y PRODUCTOS PARA USO AGROPECUARIO.</td>
    </tr>
  <th scope="row">11</th>
      <td>REGLAMENTO PARA LA APLICACION DE LA LEY SOBRE CONTROL DE PESTICIDAS, FERTILIZANTES Y PRODUCTOS PARA USO AGROPECUARIO.</td>
    </tr>
  </tbody>
</table>