<h2>MANEJO DE MATERIALES PELIGROSOS:</h2>
<p class="text-justify" >Conjunto de operaciones que incluyen el almacenamiento, recoleccion, transporte, reuso, tratameinto, reciclaje, incineracion y disposicion ambientalmente adecuada de las sustancias, residuos y desechos peligrosos
</p>

<h2>TRATAMIENTO DE DESECHOS PELIGROSOS:</h2>
<p class="text-justify" >Se refiere a cualquier proceso o metodo destinado a modificar las caracteristicas fisicas, quimicas o biologicas con el fin de disminuir su peligrosidad o de reducir su volumen.
</p>
<h2>MANEJO AMBIENTALMENTE RACIONAL DE LOS DESECHOS PELIGROSOS:</h2>
<p class="text-justify" >Se refiere a la adopcion de todas las medidas posibles para garantizar que los desechos peligrosos y otros desechos se manejen de manera que queden protegidos el medio ambiente y la salud humana contra efectos nocivos que puedan derivarse de tales desechos.
</p>