<!-- NEWS CARDS -->
<div class="news-cards">
  <div>
    <img src="/image/bolsa_rj.jpg" alt="" />
    <h3>BOLSAS ROJAS</h3>
    <p>BOLSAS ROJAS PARA DESECHOS BIOINFECCIOSOS EN VARIEDAD DE TAMAÑOS Y PRECIOS CON GRAVADO Y SIN GRAVADO. 
    </p>
  </div>
  <div>
    <img src="/image/caja_desechos.jpg" alt="" />
    <h3>CAJA PLASTICAS</h3>
    <p>CAJA ROJA PLASTICA REGLAMENTARIA PARA DESECHOS BIOINFECCIOSOS.
    </p>
  </div>
  <div>
    <img src="/image/dep_punzo.jpg" alt="" />
    <h3>DEPOSITO PARA PUNZO CORTANTES</h3>
    <p>DEPOSITOS PARA DESECHOS PUNZOCORTANTES, DIFERENTES TAMAÑOS, TIPOS Y PRECIOS.
    </p>
  </div>

</div>