<p class="text-justify" >Los generadores de residuos peligrosos, asi como las personas naturales o juridicas que usen, generen, recolecten, almacenen, reutilicen, reciclen, comercialicen, transporten o realicen tratamiento de dichos residuos, seran responsables del cumplimiento de las disposiciones de la leyes pertinentes, reglamentos y reglas tecnicas conexas.</p>

<p class="text-justify" >El empleador o sus representantes tendran la responsabilidad para que los residuos procedentes de los productos quimicos no sean vertidos directamente a cursos o reservorios de agua, al suelo o al aire.  Deberan ser sometidos a tratamiento y eliminacion, de manera que no produzcan riesgos para los trabajadores o el ambiente.
</p>

<p class="text-justify" >Dicho tratamiento previo necesario para algunos desechos peligrosos se orientara a reducir su volumen, aumentando su concentracion, o a disminuir su grado de peligrosidad, por solidificacion, por procesos fisicos, quimicos, bioquimicos o biotecnologicos, o la combinacion de los anteriores.
</p>