<h2>MANEJO DE MATERIALES CATALOGADOS COMO PELIGROSOS:</h2>
<p class="text-justify" >Contamos con flota para ayudarle en la recoleccion y transporte de materiales catalogados como peligrosos tales como:
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">N.</th>
      <th scope="col">Descripcion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>MEDICAMENTOS VENCIDOS</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>FARMACOS O RESIDUOS DE PRODUCCCION DE LOS MISMOS</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">DESECHOS ESPECIALES</td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td colspan="2">DESECHOS DIVERSOS RESULTANTES DE ACTIVIDADES INDUSTRIALES</td>
    </tr>

    <tr>
      <th scope="row">5</th>
      <td colspan="2">PRODUCTOS O MATERIALES CADUCOS</td>
    </tr>

      <tr>
      <th scope="row">6</th>
      <td colspan="2">PRODUCTOS ALIMENTICIOS VENCIDOS</td>
    </tr>
  <tr>
      <th scope="row">7</th>
      <td colspan="2">QUIMICOS INUTILIZADOS PREVIA EVALUACION TECNICA</td>
    </tr>
  </tbody>
</table>
 <p class="text-justify" >PROPORCIONAMOS ACTA DE DESTRUCCION, DOCUMENTACION DE TRANSPORTE Y REGISTRO  EN NUESTRAS BASES DE DATOS PARA POSTERIORES CONSULTAS POR AUDITORIAS AMBIENTALES O CERTIFICACIONES DE NUESTROS CLIENTES.</p>