<!-- Follow -->
<section class="social">
  <p>ESCRIBENOS POR WHATSAPP</p>
  <div class="links">
    {{!-- <a href="https://facebook.com">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
          <i class="fab fa-twitter"></i>
        </a> --}}
    <a id="app-whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=50370097691&amp;text=hola!">
      <i class="fab fa-whatsapp" style="color:green"></i>
    </a>
  </div>
</section>
</div>

<!-- Footer Links -->
<div class="footer-links">
  <div class="footer-container">
    <ul>
      
      <li>
        <h6>TELEFONO: 21300021</h6>
      </li>
      <li>
        <h6>CORREO ELECTRONICO: ecotransv@yahoo.com</h6>
      </li>
      <li>
       <h6>Direccion: KM 35 CARRETERA A QUEZALTEPEQUE  SAN JUAN OPICO LA LIBERTAD</h6>
      </li>
     
    </ul>
    
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <h3>ECO TRANSPORTES DE EL SALVADOR S.A DE C.V COPYRIGHT</h3>
</footer>