<!-- Follow -->
<section class="social">
  <p>ESCRIBENOS POR WHATSAPP</p>
  <div class="links">
    {{!-- <a href="https://facebook.com">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
          <i class="fab fa-twitter"></i>
        </a> --}}
    <a id="app-whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=50370097691&amp;text=hola!">
      <i class="fab fa-whatsapp" style="color:green"></i>
    </a>
  </div>
</section>
</div>

<!-- Footer Links -->

<div class="footer-links">
  <div class="footer-container">

    <address >
      <strong>DIRECCION</strong><br>
Km 35, Carretera a Quezaltepeque
San Juan Opico, La Libertad
<br>
<strong>EMAIL</strong> <br>
ecotransv@yahoo.com <br>
<strong>OFICINAS ADMINISTRATIVAS</strong> <br>
21300021 <br>
<strong>ATENCION AL CLIENTE DIRECTO</strong> <br>
<a href="tel:23189182" class="fa fa-phone mt-4 fa-2x"></a>
</address>
    
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <h3>ECO TRANSPORTES DE EL SALVADOR S.A DE C.V COPYRIGHT</h3>
</footer>